.solarSYS{
width: 900px;
margin: 0 auto;
padding: 0;
}
.sun {
width: 200px;
height: 200px;
background: yellow;
border-radius: 100%;
margin: 300px auto;
/*z-index: 2;*/
}
.earth{
width:100px;
z-index: -1;
height: 100px;
background: lightblue;
position: absolute;
border-radius: 100%;
transition: all .4s linear;
animation: myAnim 24s infinite;
/*animation-direction: alternate;*/
/*animation-delay: 3s;*/
}
@keyframes myAnim {
0% {
margin-top: 300px;
margin-left: 150px;
}
/*10% {
margin-top: 300px;
margin-left: 900px;
padding: 30px;
}*/
20% {
margin-top: 300px;
margin-left: 400px;
padding: 25px;
}
40% {
margin-top: 300px;
margin-left: 750px;
padding: 0px;
}
60% {
margin-top: -76px;
margin-left: 750px;
/*margin-bottom: 900px;*/
/*position: absolute;
bottom: 600px;*/
}
80%{
	margin-top: -60px;
    margin-left: 150px;
    /*padding: -20px;*/
    /*width: 50px;*/
}
100%{
	margin-top: 300px;
    margin-left: 150px;
}